In [1]:
import pandas as pd
import psycopg2
import pprint as pp

In [3]:
# Connect to database
db_name, ip, port, user_name, password, table_name = 'usaspending', '192.168.132.223', '5432', 'team', 'ZAQ!@#zaq123', '"t2014.1:1"'

conn = psycopg2.connect(f"dbname={db_name} user={user_name} host={ip} password={password}")

#try:
#    conn = psycopg2.connect(f"dbname={db_name} user={user_name} host={ip} password={password}")
#    print("Connection successful")
#except:
#    print("I am unable to connect to the database")

OperationalError: could not connect to server: Connection refused
	Is the server running on host "dopelytics.site" (66.44.5.232) and accepting
	TCP/IP connections on port 5432?

In [40]:
# Read SQL Query into pandas dataframe
SQLQuery = pd.read_sql_query(f'SELECT contract_transaction_unique_key, federal_action_obligation, total_dollars_obligated, \
base_and_exercised_options_value, current_total_value_of_award, base_and_all_options_value, potential_total_value_of_award, \
action_date, action_date_fiscal_year, period_of_performance_start_date, period_of_performance_current_end_date, \
period_of_performance_potential_end_date, awarding_agency_code, awarding_agency_name, recipient_duns, recipient_name, \
cage_code, recipient_country_code, recipient_country_name, recipient_city_name, recipient_state_code, recipient_state_name, \
recipient_zip_4_code, recipient_congressional_district, primary_place_of_performance_country_code, \
primary_place_of_performance_country_name, primary_place_of_performance_city_name, primary_place_of_performance_county_name, \
primary_place_of_performance_state_code, primary_place_of_performance_state_name, primary_place_of_performance_zip_4, \
primary_place_of_performance_congressional_district, award_type_code, award_type, product_or_service_code, \
product_or_service_code_description, naics_code, naics_description, extent_competed_code, extent_competed, \
type_of_set_aside_code, type_of_set_aside, other_than_full_and_open_competition_code, other_than_full_and_open_competition, \
number_of_offers_received, solicitation_date, number_of_employees, annual_revenue FROM {table_name};', conn)
df = pd.DataFrame(SQLQuery)

In [34]:
# create new dataframes from a subset of the data. Use SQL to filter the data on the server before
# reading it into the dataframe to optomize perfomance.(Less data flowing over the internet to your computer)
SQLQuery2 = pd.read_sql_query(f"SELECT * FROM {table_name} WHERE parent_award_id = 'N6264910G0003';", conn)
df2 = pd.DataFrame(SQLQuery2)

In [35]:
# Save the top 25 rows to a csv on the server
df2.head(25).to_csv(r'/home/jack/Documents/Projects/Georgetown/Data-Oriented-Proposal-Engine/temp/first25from2014.csv')

In [19]:
# Find the total dollars obligated
sumTDO = df['total_dollars_obligated'].sum()
print(f"sum is: ${sumTDO:,}")

sum is: $1,326,217,973,447.07

In [37]:
# General attributes of each column
df.describe()

,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,current_total_value_of_award,base_and_all_options_value,potential_total_value_of_award,action_date_fiscal_year,awarding_agency_code,recipient_duns,primary_place_of_performance_congressional_district,naics_code,number_of_offers_received,number_of_employees,annual_revenue
count,1.000000e+06,1.861550e+05,1.000000e+06,3.025950e+05,1.000000e+06,3.025950e+05,1000000.0,1000000.0,1.000000e+06,915610.000000,999303.000000,986362.000000,9.996620e+05,9.996620e+05
mean,2.237855e+05,7.124267e+06,3.601428e+05,7.192958e+06,3.776874e+05,9.018268e+06,2014.0,97.0,3.289196e+08,9.770041,417900.697129,6.269464,1.083231e+05,9.962153e+09
std,6.994465e+06,1.683002e+08,4.577405e+07,1.880143e+08,4.696989e+07,2.537046e+08,0.0,0.0,3.542422e+08,11.053083,118670.871152,41.731617,1.324816e+07,3.207210e+11
min,-9.458717e+08,-7.530559e+07,-9.397808e+09,-1.992334e+08,-9.397808e+09,-2.487984e+08,2014.0,97.0,1.000363e+06,0.000000,111120.000000,0.000000,0.000000e+00,0.000000e+00
25%,4.744000e+02,5.669610e+03,0.000000e+00,5.244000e+03,0.000000e+00,5.230095e+03,2014.0,97.0,4.370066e+07,3.000000,333999.000000,1.000000,1.000000e+01,1.000000e+06
50%,7.731950e+03,1.418595e+04,6.753350e+03,1.155536e+04,6.210000e+03,1.152696e+04,2014.0,97.0,1.307888e+08,6.000000,423390.000000,2.000000,9.000000e+01,1.963748e+07
75%,3.244454e+04,5.879046e+04,2.672419e+04,3.890000e+04,2.464524e+04,3.873197e+04,2014.0,97.0,7.841414e+08,11.000000,532120.000000,5.000000,3.000000e+03,9.750000e+08
max,3.710562e+09,1.068095e+10,2.394326e+10,1.076379e+10,2.394326e+10,3.661039e+10,2014.0,97.0,9.899141e+08,53.000000,928120.000000,999.000000,2.147484e+09,2.136700e+14